* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

h1 {
    background: blue;
    
}

h2 {
    background: #00FF00;
}

p {
    background: darkmagenta;
}
img{
    width: 300px;
    height: 300px;
}